/*General Styles*/



html {
    font-family:Roboto;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #F9F9F9;
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

header {
    width: 100%;
    height: 58px;
    background: #241623;
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.container {
    width: 98%;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

h1 {
    float: left;
}

header .container {
    display: table;
}
header .start-img{
    width: 15rem;
}
header .start{
    height: 600px;
    color: #241623;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

@media(min-width:1024px){
    .container {
        width: 1000px;
        
    }
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}


/* Navbar */
#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
   position: absolute;
   top: 50px;
   left: 0;
   width: 100%;
   height: 100vh;
   background: rgba(36, 22, 35, 0.9);
   transition: all 0.5s;
   transform: translateX(-100%);
}

.menu a {
    display: block;
    color: #fff;
    height: 58px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu a:hover {
    background: rgba(255, 174, 3, 0.5);
    text-decoration: none;
    color: #FFF;
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

@media (min-width:1024px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }

    .menu a{
        border: none;
    }

    header label {
        display: none;


    }
}

/*Start Section*/
.star-icon{
    font-size: 1.5em;
}
.line-left, .line-right {
    background-color: #241623;
    border-radius: 2px;
    height: 4px; 
    width: 200px;    
    
  } 

  .start{
      background-color: #F2B93E;
  }

  /*Products Section*/
  .divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: .25rem;
    background-color: #212529;
    border-radius: 1rem;
    border-color: #212529!important
}

.divider-custom.divider-light .divider-custom-icon {
    color: #212529!important
}


  @media (min-width:992px) {
    .col-lg {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }
    .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }
    .col-lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%
    }
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }
    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }
    .col-lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
}


.products {
    margin-bottom: -30px
}

.products .products-item {
    height: 300px;
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 30px;
    border-radius: .5rem;
    overflow: hidden
}

.products .products-item .products-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease-in-out;
    opacity: 0;
    background-color: rgba(242, 185, 62, .9)
}

.products .products-item .products-item-caption:hover {
    opacity: 1
}

.products .products-item .products-item-caption .products-item-caption-content {
    font-size: 1.5rem
}

.products-modal .products-modal-title {
    font-size: 2.25rem;
    line-height: 2rem
}

@media (min-width:992px) {
    .products-modal .products-modal-title {
        font-size: 3rem;
        line-height: 2.5rem
    }
}

.products-modal .close {
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    top: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    color: #F2B93E;
    opacity: 1
}

    .mb-0,
    .my-0 {
        margin-bottom: 0!important
    }

.mx-auto {
    margin-right: auto!important
}


.my-auto {
    margin-bottom: auto!important
}

.mx-auto {
    margin-left: auto!important
}

.d-flex {
    display: flex!important
}

.align-items-center {
    align-items: center!important
}

.justify-content-center {
    justify-content: center!important
}


.h-100 {
    height: 100%!important
}


.w-100 {
    width: 100%!important
}

.text-center {
    text-align: center!important
}

.imgFluid {
    width: 100%;
    height: 100%;
   object-fit: cover;
}

.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem
}

.masthead .masthead-avatar {
    width: 15rem
}

/*Modal Window Styles*/
.imgModal{
    width: 80%;
    margin-left: 10%;
}

.textModal{
    text-align: center;
    font-size: 14px;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}

.btnModal{
    background: #F2B93E!important;
    border-color: #F2B93E!important;
}

/* about-section */

.about-section{
    background-color: #F2B93E;
    color: #241623;
}

.about-section .btn-download{
    border-color: #241623;
    border: solid 1px #212529;
}

/*Contact Section*/
.floating-label-form-group {
    position: relative;
    border-bottom: 1px solid #F2B93E
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: 0 0;
    box-shadow: none!important
}

.floating-label-form-group label {
    font-size: .85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    transition: top .3s ease, opacity .3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0
}

.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #e9ecef
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #e9ecef
}

.btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.25rem
}

.footer{
    color: #F9F9F9;
    background-color: #241623;
    padding: 20px;
}

.linkedin>p>a {
    text-decoration: none;
    color: #F9F9F9;

}

.copyright {
    background-color: rgba(36, 22, 35, 0.9);
   margin-bottom: 0px; 
}

.scroll-to-top{
    /* z-index:1000;
    right:1rem;
    bottom:1rem;*/
    display:none; 
    position: fixed; 
    bottom: 5px; 
    right: 5px; 
    z-index: 99; 
    border: none;
    outline: none;
    background-color: #212529;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
}
.scroll-to-top a{
    color: #F9F9F9;
}
.scroll-to-top a:hover{
    color: #F9F9F9;
}